@font-face {
  font-family: "Poppins-SemiBold";
  src: url("../_fonts/Poppins-SemiBold.ttf");
}

.PFN tr:nth-child(2n) {
  background-color: transparent;
}

/* remove img and temp before production */
.PFN, img {
  scale: 150%;
  margin: 32px;
  margin-top: 55px;
  margin-bottom: 80px !important;
  border-spacing: 0;
  background-color: #12151d;
  color: white;
  width: 128px !important;
  /* temp */
  display: inline;
  float: left;
}

.PFN:hover {
  background-color: #292d1a;
}

.PFN td,
.PFN th,
.PFN tr {
  border: 0px transparent;
  padding: 0px;
}

.PFN thead {
  background-color: #1b2b36;
}

.PFN tbody tr {
  line-height: 8px;
  height: 16px;
}

.PFN-Title,
.PFN-NodeType {
  width: 128px;
  font-family: "Poppins-SemiBold";
  text-align: center;
  height: 24px;
  padding: 0px;
  font-size: 10px;
  line-height: 12px;
}

.PFN-NodeType {
  font-size: 12px;
  padding: 2px;
  height: 12px;
  color: rgba(255, 255, 255, 0.2);
}

.PFN-LabelRight,
.PFN-LabelLeft {
  font-family: "Poppins-SemiBold";
  padding: 0px;
  font-size: 8px;
  background-repeat: no-repeat;
}

.PFN-LabelRight {
  text-align: right;
  background-position: 100% 50%;
  background-size: 80px 12px;
}

.PFN-LabelLeft {
  background-position: 0% 50%;
  background-size: 80px 12px;
}

.PFN-Connector {
  height: 32px;
  width: 16px;
  stroke-width: 2px;
  padding: 0px;
  background-image: linear-gradient(black, black) !important;
}

.PFN-String {
  fill: rgb(94, 5, 5);
  stroke: red;
  background-image: linear-gradient(red, red);
}

.PFN-TriggerString {
  fill: rgb(94, 5, 5);
  stroke: red;
  background-image: linear-gradient(red, red);
}

.PFN-Bool {
  fill: black;
  background-image: linear-gradient(gray, gray);
  stroke: gray;
}

.PFN-Int {
  fill: rgba(229, 250, 109, 0.2);
  background-image: linear-gradient(rgb(229, 250, 109), rgb(229, 250, 109));
  stroke: rgb(229, 250, 109);
}

.PFN-Double {
  fill: rgba(0, 128, 128, 0.2);
  background-image: linear-gradient(rgb(0, 128, 128), rgb(0, 128, 128));
  stroke: rgba(0, 128, 128, 0.2);
}